<div class="modal_movie">
    <div class="thumb_image">
        <img src='https://image.tmdb.org/t/p/w500{{data.poster_path}}' alt="{{data.title}}" class="thumb_image_image" />
    </div>

    <div class="modal_movie_info">
        <h2 class="modal_movie_title">{{data.original_title}}</h2>
        <div class="list">
            <div class="list_wrapper"><span class="list_name">Vote / Votes</span><span class="list_text"><span
                        class="list_text_vote">{{data.vote_average}}</span><span class="list_text_vote_count">/</span>
                    {{data.vote_count}}</span></div>
            <div class="list_wrapper"><span class="list_name">Popularity</span><span class="list_text">
                    {{data.popularity}}</span></div>
            <div class="list_wrapper"><span class="list_name">Original Title</span><span
                    class="list_text list_text--bigger">{{data.original_title}}</span></div>
              <div class="list_wrapper"><span class="list_name">Genre</span>
        
        <span class="list_text">{{genres}}</span>
    
        </div>       
        </div>
       
        <h3 class="title_about">ABOUT</h3>
        <p class="about_text"> {{data.overview}}</p>
<span class="button_wrapper"> 
    <button class="button_watched">add to Watched</button>
    <button class="button_queue">add to queue</button>
</span>
        
    </div>
</div>